@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #171717;
  --search-input: #f2f2f2;
  --search-input-focus: #EBEBEB;
  --search-input-hover: #DDDDDD;

}

/* Manual dark mode override */
body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s, color 0.3s;
}
video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

@theme {

  --color-search-input: var(--search-input);
  --color-search-input-focus: var(--search-input-focus);
  --color-search-input-hover: var(--search-input-hover);
  
}